.logo {
  width: 225px;
}

p.italic {
  font-style: italic;
}

p.boldxlarge {
  font-weight: bold;
  font-size: x-large;
  line-height: 50%;
}

p.boldxxlarge {
  font-weight: bold;
  font-size: xx-large;
}

h2 {
  font-size: 20px;
}

a.valid {
  color: rgb(0, 129, 250);
}

a {
  color: rgb(79, 91, 133);
}
